# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# specific to this
logs/*.log
tmp/restart.txt
.bundle
bundle
vendor
vendor/bundle
Website
scripts/launch.command
