body {
  font-family: 'Nunito', 'Palatino', sans-serif;
  background-image: url(../images/feuille.jpg);
  min-height: 600px; }
#main {
  background: white;
  padding: 10px 15px;
  opacity: 0.85; }

#links {
  position: absolute;
  left: 50%;
  margin-left: -392px;
  top: 10px; 
  z-index: 0; }
#links .left {
  display: block;
  float: left; }
#links .right {
  display: block;
  float: right; }

header {
  text-align: center; 
  border-bottom: 15px solid #627535; 
  margin-bottom: 10px; }
header h1, header h2, header h3 {
  margin: 0px;
  padding: 0px;
  color: #053100; }
header h3 {
  padding-top: 2px; }

#footer {
  text-align: center;
  margin-top: 10px;
  border-top: 15px solid #627535; 
  padding-top: 5px; }

nav ul {
  list-style: none;
  margin: 0px; padding: 0px; 
  padding-left: 15px; 
  padding-top: 15px; 
  background: #627535; }
nav ul li {
  padding-bottom: 10px; }
nav ul li a {
  font-size: 1.4em;
  font-style: italic;
  color: white; }
nav ul ul {
  list-style: square; 
  font-size: 0.80em; 
  padding-top: 5px; }
nav ul ul li {
  padding-bottom: 0px; } 

article {
  margin-left: 230px;
  padding-right: 5px; }
article h1 {
  color: #053100;
  font-size: 1.75em; 
  margin-bottom: 3px; }
article h1 a {
  display: block;
  font-size: 16px;
  float: right; }
article h2 {
  color: #053100;
  font-size: 1.35em; 
  margin-bottom: 5px; }
article p,
article ul {
  color: black;
  font-size: 1.1em;
  text-align: justify; 
  margin-bottom: 5px; }
article ul li {
  color: black; 
  padding-top: 2px; }
article ul ul {
  list-style: square; 
  font-size: 1.0em; }
article ul ul li {
  padding-top: 0px; }
article img {
  display: block;
  max-height: 250px; 
  padding-top: 10px;}
article img:first-child {
  float: left; }
article img:last-child {
  float: right; }
